@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: 'Arsenic';
  src: url('/src/fonts/ArsenicaTrial-Regular.ttf') format('truetype');
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  /* border: 1px solid #cacaca; */

}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #3636366b;
}

#root {
  margin: 0 auto ;
  max-width: 1800px;
  width: 94%;
}
.container {
  text-align: center;
  padding: 60px;
  margin: auto;
  width: 80%;
}
h1.title{
  font-family: 'Arsenic', sans-serif;
  font-size: 8em;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  width: fit-content;
  border: 1px solid black;
  border-style: none none solid none;

}

.container h1{
  font-family: 'Arsenic', sans-serif;
  font-size: 8.2em;
  margin: 0;
  margin-bottom: -5.2%;
  background-color: transparent;
  position: relative;
  z-index: 2;
  border: 1px solid black;
  border-style: solid none none none;
}
.icon-container {
  position: relative;
  display: inline-block;
}

.icon {
  color: red;
  rotate: -10deg;
  transform: scale(0.35);
  width: 1em; /* Adjust size as necessary */
  height: 1em;
  position: absolute;
  top: -0.01em; /* Adjust position to align with the dot */
  left: -0.42em;
  pointer-events: none; /* Ensure the icon doesn't interfere with text selection */
}
#imgCont{
  margin: 0;
  height: fit-content;
  position: relative;
  z-index: -1;
}
#imgCont > img {
  position: relative;
  z-index: -1;
  width: 23%;
  height: auto;
  rotate: -10deg;
  margin: 0;
}
.container h2{
  font-family: 'Arsenic', sans-serif;
  font-size: 5.4em;
  margin: auto;
  background-color: transparent;
  position: relative;
  width: fit-content;
  margin-top: -5%;
  margin-bottom: -2%;
  text-align: justify;
}
.container h3{
  font-family: 'Arimo' , sans-serif;
  font-weight: 100;
  letter-spacing: 0.5em;
  margin: auto;
  width: 20%;
  padding-bottom: 10px;
  padding-left: 0.5em;
  font-size: 1em;
  text-align: center;
}
.container h3:not(h3.fade-in){
  margin-bottom: -0.3%;
}

h3.fade-in{
  padding-bottom: 2%;
  margin-bottom: 10px;
  border: 1px solid black;
  border-style: none none solid none;
}

h2 {
  font-family: "Arimo", sans-serif;
  font-size: 5.5em;
  font-weight: 200;
  margin: 0;
  margin-top: 10%;
  margin-bottom: -1%;
  text-align: center;
}

/* button.scroll {
  font-family: "Arimo", sans-serif;
  width: 100px;
  color: rgb(178, 178, 178);
  font-size: 0.8em;
  letter-spacing: 1em;
  font-weight: 100;
  padding: 10px 20px;
  padding-left: 3em ;
  margin: 10px;
  border: 1px solid rgb(178, 178, 178);
  background-color: transparent;
  cursor: pointer;
} */

button.seeMore{
  font-family: "Arimo", sans-serif;
  padding: 5px 20px;
  color: rgb(167, 167, 167);
  font-size: 1em;
  letter-spacing: 0.3em;
  font-weight: 100;
  margin: auto;
  border: 1px solid rgb(178, 178, 178);
  background-color: transparent;
  cursor: pointer;
  margin-top: -700px;
}

button.seeMore:hover{
  background-color: rgb(178, 178, 178);
  color: white;
}

#aboutMe{
  font-weight: 100;
  font-size: 5.8em;
}
#textblockAboutme{
  text-align: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#aboutmeContainer{
  padding: 0% 2%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}
#textblockAboutme p{
  font-size: 1.16em;
  margin-top: 5%;
}
p {
  font-family: "Arimo", sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: center;
  
}
.righter{
  float: right;
  width: 50%;
  margin: 0;
  margin-right: 5%;
  margin-top: 5%;
}
img.bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-height: 300px;
}

#fontA{
  font-family: "Arimo", sans-serif;
  font-weight: 100;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.fade-in:nth-child(1) {
  animation-delay: 0s;
}

.fade-in:nth-child(2) {
  animation-delay: 0.5s;
}

.fade-in:nth-child(3) {
  animation-delay: 1s;
}

.fade-in:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Media Queries for Mobile Compatibility */

@media (max-width: 768px) {
  .container{
    padding: 10%;
    margin-top: 50%;
  }
  h1.title,
  .container h1 {
    font-size: 2.2em;
  }

  .container h2 {
    font-size: 2.05em;
  }

  .container h3 {
    width: 50%;
    font-size: 0.3em;
  }

  button.scroll,
  button.seeMore {
    width: 150px;
    padding: 8px 16px;
    font-size: 0.7em;
  }

  #aboutMe {
    width: 90%;
  }

  .righter {
    float: none;
    width: 100%;
    margin: 5% auto;
  }

  .bw{
    transform: scale(1);
  }
  #aboutmeContainer{
    flex-direction: column;
  }
  #textblockAboutme{
    background-color: tomato;
    width: 100%;
  }
  h2{
    font-size: 0.1em;
  }
}

